<body>
  <div class="tricks-container">
    <div class="stance-title-container">
      <h1 data-tooltip="Fakie stance is when you're riding in your natural stance, but in reverse. You position yourself on your skateboard as if you were riding normal and roll backwards." class="stance-title">Fakie</h1>
    </div>

    <div class="container">
      <ul class="item-list" id="easyTricks"></ul>
    </div>

    <div class="container">
      <ul class="item-list" id="mediumTricks"></ul>
    </div>

    <div class="container">
      <ul class="item-list" id="hardTricks"></ul>
    </div>
  </div>

  <script src="/js/checkbox.js"></script>
</body>