<body>
  <div class="tricks-container">
    <div class="stance-title-container">
      <h1 class="stance-title">Fakie</h1>
    </div>

    <div class="container">
      <ul class="item-list" id="easyTricks"></ul>
    </div>

    <div class="container">
      <ul class="item-list" id="mediumTricks"></ul>
    </div>

    <div class="container">
      <ul class="item-list" id="hardTricks"></ul>
    </div>
  </div>

  <script src="/js/checkbox.js"></script>
</body>