<body>
    <div class="title-container">
        <h1 class="title">LandIt!</h1>
    </div>

    <div class="grid-container">
        <button class="box">Normal</button>
        <button class="box">Fakie</button>
        <button class="box">Switch</button>
        <button class="box">Nollie</button>
    </div>
</body>