body {
  background: url(../assets/background.png);
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: content-box;
  text-align: center;
}

#home {
  position: relative;
  left:20px;
  font-size: 2rem;
}

header {
  display: flex;
  width: 100vw;
  border: solid;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  background-color: black;
  border-bottom-color: red;
}

.login-logout {
  position: relative;
  right:40px;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
}

#logo {
  max-width: 20%;
  height: auto;
  opacity: 90%; 
}




.title-container{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 130px;
}

.title {
    font-size: 64px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
}
  
.box {
    background-color: rgb(107, 42, 138);
    padding: 10px 20px;
    text-align: center;
    font-size: 36px;
    height: auto;
    width: 40vw;
}
  
  
.box:hover {
    background-color: rgb(230, 15, 15);
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  
  h2 {
    margin-bottom: 30px;
    font-size: 58px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  button {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  button {
    background-color: darkgreen;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: green;
  }
  
  body a {
    color: rgb(246, 246, 248);
  }
  
  #signupLink {
    position: relative;
    margin: 10px;
    color: blue;
    font-size: 40px;
  }
  
  .modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content input[type="email"],
  .modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #45a049;
  }

  .stance-title-container {
    display: flex;
    justify-content: center;
  }
  
  .stance-title {
    font-size: 50px;
    font-weight: bold;
    border: 3px solid black;
    padding: 5px 10px;
    width: fit-content;
  }
  
  .container {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 24px;
  }

  .tricks-container .container {
    border: 3px solid black;
    width: 15vw;
    height: 50vh;
  }
  
  .container-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: left;
  }
  
  .item-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
  
  .item {
    margin-bottom: 5px;
  }
  
  .checkbox {
    vertical-align: middle;
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .tricks-container {
    margin-top: 6px;
    background-color: rgb(120, 188, 225);
    height: 63vh;
  }